ul#navigation {
	cursor: pointer;
	margin: 0 0 5px;
	padding: 0;
	list-style: none;
	text-align: center;
	display: inline-block;
	border: 1px solid #000;	
}
ul#navigation > li {
	display: block;
	position: relative;
	float: left;
	border-right: 1px solid #000;
}
ul#navigation li ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #222;
}
ul#navigation li a {
	padding: 5px 15px;
	display: block;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	margin-left: 1px;
	white-space: nowrap;
}
ul#navigation li:hover ul {
	display: block;
	position: absolute;
}
ul#navigation li:hover li {
    float: none;
}
ul.sub_menu {
	z-index: 10;
	border: 1px solid #000;
}
ul.sub_menu > li {
	border-top: 1px solid #000;
	background: #222;
	font-size: 1em;
	text-align: left;
	height: 42px;
	line-height: 32px;
	background-repeat: no-repeat; 
	background-position: middle left;	
	cursor: pointer;
}
ul.sub_menu > li:first-child {
	border-top: 0px;
}
ul#navigation li:hover,
ul.sub_menu > li:hover {
	background-color: #333;
}
ul#navigation > li ul.sub_menu > li a {
	padding-left: 56px;
}
ul.sub_menu > li.barbarian {
	background-image: url('/images/barbarian.png');
}
ul.sub_menu > li.wizard {
	background-image: url('/images/wizard.png');
}
ul.sub_menu > li.demon-hunter {
	background-image: url('/images/demon-hunter.png');
}
ul.sub_menu > li.monk {
	background-image: url('/images/monk.png');
}
ul.sub_menu > li.witch-doctor {
	background-image: url('/images/witch-doctor.png');
}