/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@media only screen and (min-width: 35em) {
  
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

.inline-flow {
  display: -moz-inline-stack;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: auto;
}

body {
	color: #ECECEC;
	background-color: #222;
	font-family: 'Droid Sans', sans-serif;
}
a, a:visited, a:hover, a:active, a:hover .ui-button-text {
	color: #70B1D5;
	text-decoration: none;
}
a:active .ui-button-text, a:visited .ui-button-text {
	color: #fff;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}
#header {
	height: 200px;
}
#header-content {
	text-align: center;
	margin-top: 30px;
	margin-left: 20px;
	width: 760px;
}
#header-content .table-header {
	font-size: 14px;
}
.select2-result {
	color: #222;
}
.ui-widget {
    font-size: 1.0em;
}
.ui-button-text-only .ui-button-text {
	padding: 0.1em 0.5em;
}
.skill-calc-row .stat-helper, 
.calc-stats .stat-helper {
	color: #B18135;
}
.create-form {
	padding: 0 20px;
}
.create-form select {
	width: 400px;
}
.create-form dt {
	margin: 10px;
}
.item-preview {
	float: right;
	display: inline-block;
}
ul#simulate-stats input,
.item-preview ul.attrs input {
	margin: 2px 5px;
	width: 45px;
}
.controls {
	text-align: center;
	float: right;
}
.controls input {
	padding: 10px;
}
#skill-display {
	background: #111;
}
#skill-display h3 {
	margin: 0;
	padding: 10px 0 0 10px;
	color: #70B1D5;
/*	float: left;*/
}
#ratings-display {
	float: right;
}
#ratings-display .item-stat {
	padding: 3px 10px;
}
#sys-message {
	text-align: center;
	font-size: 14px;
	padding: 5px;
/*	border-bottom: 1px solid #777;*/
	margin-bottom: 10px;
}
#base_dps-label, #base_dps-element,
#base_damage_min-label, #base_damage_min-element,
#base_damage_max-label, #base_damage_max-element,
#base_block_chance-label, #base_block_chance-element,
#base_block_amount_min-label, #base_block_amount_min-element,
#base_block_amount_max-label, #base_block_amount_max-element,
#base_speed-label, #base_speed-element,
#base_armor-label, #base_armor-element {
	display: none;
}
.skill-highlight {
	color: #0F0;
}

#active-display,
#passive-display {
	list-style: none;
	padding: 0 15px;
	margin: 5px 0 0;
	display: inline-block;
}
#active-display > li,
#passive-display > li {
	display: inline-block;
	float: left;
	padding: 0 5px;
}
#active-display > li img,
#passive-display > li img {
	width: 32px;
}
.calc-stats .resist-specific {
}
.calc-stats .resist-specific .header {
	color: #75ABFF;
	font-size: 1.2em;
	font-weight: bold;
}
.calc-stats .resist-specific .stat-helper {
	width: 140px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.ui-buttonset a.ui-button {
	margin-right: 20px;
}
.dataTables_wrapper .ui-widget-header {
	background: #0B3E6F;
	background-image: none;
}
.chzn-results {
	z-index: 99999 !important;
	color: #000;
}
.create-form .chzn-container-single .chzn-default {
	color: #444;
}
.create-form .chzn-container .chzn-results li em {
	background: #bbb;
}
.home {
	margin: 0 10px;
	width: 610px;
}
.home h2 {
	margin: 5px 10px;
}
.recent-items {
	padding: 2px;
}
.info {
	width: 300px;
	margin: 0 10px;
}
.info .ui-widget {
	padding: 0 10px;
	margin-bottom: 10px;
}
.info .ui-widget h3 {
	color: #70B1D5;
}
.d3up-table {
	width: 100%;
}
.d3up-table  {
	border: 2px solid #111;
}
.d3up-table tbody tr.build-row:nth-child(2n),
.d3up-table tbody tr.item-row:nth-child(2n) {
	background-color: #191919;
}
.d3up-table tbody tr th:last-child,
.d3up-table tbody tr td:last-child {
	border-right: 1px solid #000;
}
.d3up-table td {
	padding: 5px;
	border-top: 1px solid #111;
	line-height: 34px;
	overflow: hidden;
}
.d3up-table td.name {
	width: 350px;
}
.home .d3up-table td.name {
	width: 150px;
	max-width: 150px;
	overflow: hidden;
}
.d3up-table td.name a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
.d3up-table td.data {
	text-align: center;
}
.d3up-table td.description {
	max-width: 380px;
	overflow: hidden;
}
.d3up-table td.icon {
	width: 42px;
	padding: 0;
}
.d3up-table th {
	color: #B18135;
	background: #191919;
	font-size: 0.8em;
	border-top: 1px solid #111;
}
.build-paginator, 
.more-builds {
	text-align: center;
	font-size: 1.25em;
}
div.filters {
	float: right;
	padding: 0 10px;
}
.icon-frame {
	background-color: black;
  border-color: #574320 #59411C #463419 #3A2912;
  border-left: 1px solid #3A2912;
  border-radius: 2px 2px 2px 2px;
  border-right: 1px solid #59411C;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
}
#footer {
	color: #aaa;
	margin: 50px 0 ;
	font-size: 0.9em;
	text-align: center;
}
.breadcrumb {
	margin: 10px;
}
.d3up-post {
	margin-top: 10px;
}
.d3up-post h3 {
	margin: 15px 20px 35px;
}
.d3up-post div.meta {
	color: #aaa;
	float: right;
	margin: 20px 10px;
}
.d3up-post .post-body {
	padding: 0 20px;
}
.ui-widget-content a {
	color: #70B1D5;
}
.chzn-container-active,
.create-form input:focus {
/*	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.9);	*/
}
dd:has(:focus) .chzn-container {
/*	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.9);*/
}
#gear-change {
	display: none;
}
#pricer, 
#character {
	width: 550px;
}
#compare-notes {
	list-style: none;
	padding: 15px;
	margin: 0;
	color: #F00;
}
.equipment-table {
}
.equipment-table td {
	padding: 5px;
	vertical-align: middle;
	width: 150px;
}
.equipment-table td:first-child {
	width: 60px;
}
.equipment-table td.primary {
	width: auto;
}
.calc-stats ul {
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.compare-diff {
	padding: 10px;
	font-size: 0.9em;
}
.compare-diff table {
	width: 99%;
	margin: 10px 0;
}
.compare-diff table th {
	font-size: 1.1em;
}
.compare-diff table tr:first-child {
	border-top: 1px solid #555;		
}
.compare-diff table tr {
	border-bottom: 1px solid #555;
}
.compare-diff table th,
.compare-diff table td {
	padding: 2px 5px;
	text-align: center;
}
.compare-diff table th:first-child,
.compare-diff table td:first-child {
	text-align: right;
}
.sold-true,
.pos {
	color: #0F0;
}
.sold-false, 
.neg {
	color: #F00;
}
.stat-ehp, 
.stat-dps {
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 10px;
}
.build-header {
	margin: 5px 0;
	padding: 5px 20px;
}
.build-header h2 {
	color: #7FCDFF;
	margin: 5px 0;
}
.build-header .controls {
	float: right;
	padding: 5px;
}
.comment {
	margin: 15px 0;
}
.comment .comment-body {
	padding: 3px 15px;
	background-color: #333;
}
.comment .comment-author {
	font-size: 1.2em;
	font-weight: bold;
	color: #7FCDFF;
}
.comment.reply .comment-author {
	font-size: 1.0em;
}
.comment .comment-buttons {
	color: #ccc;
	background-color: #333;
	font-weight: bold;
	text-align: right;
}
.comment .comment-buttons a {
	cursor: pointer;
	margin: 0 5px;
}
.comment.reply {
	margin-left: 30px;
}
.comment .comment-expand {
	text-align: center;
	background-color: #333;
	font-weight: bold;
	color: #7FCDFF;
	margin-top: 5px;
}
.comment #source-label,
#replyTo-label,
#replyTo-element,
#referrer-element, 
#referrer-label {
	display: none;
}
#all-builds td.icon {
	width: 42px;
	max-width: 42px;
}
#all-builds td.meta,
#all-builds td.stat {
	text-align: center;
	overflow: hidden;
}
.d3up-table td.skills {
	width: 280px;
}
.d3up-table td.skills img {
	width: 25px;
}
#all-builds td.meta {
	font-size: 0.9em;
	width: 50px;
	max-width: 50px;
}
#all-builds td.name {

}
#all-builds td.description {
	width: 160px;
	max-width: 160px;
	overflow: hidden;
}
#sortAttributes {
	width: 100%;
}
.bazaar #sortAttributes {
	width: 70%;
}
.bazaar #sellMethod_chzn,
.bazaar #sellMethod, 
.bazaar #maxPrice {
	float: right;
	height: 22px;
	width: 120px;
	margin-left: 10px;
}
#recent-items td {
	width: 120px;
	max-width: 120px;
	overflow: hidden;
}
.d3up-table thead td {
	overflow: visible !important;
}
#recent-items td.name {
	width: 200px;
	max-width: 200px;
	overflow: hidden;
}
.d3up-table td.name .item-stat,
#recent-items td.name .item-stat {
	text-align: left;
}
#tab-similar .d3up-table td.name {
	width: 150px;
	max-width: 150px;
}
#recent-items td.name span.value {
	font-size: 1.1em;
	line-height: 1.5em;
	overflow: hidden;
	height: 1.5em;
}
#recent-items td.name span.stat {
	font-size: 0.8em;
	line-height: 1.1em;
}
.item-list .filters {
	float: right;
}
#recent-items td.controls,
.item-stat {
	text-align: center;
	line-height: 1.5em;
}
.item-stat .value {
	line-height: 1.5em;
	font-size: 1.2em;
	display: block;
}
.item-stat .stat {
	display: block; 
	font-size: 0.6em;
	line-height: 1.5em;
}
.d3up-table td.sorted {
	border-left: 1px solid #FF0;
	border-right: 1px solid #FF0;
}
td.sorted .value {
/*	color: #FF0;*/
}
#my-builds {
	display: none;
}
.compareThis {
/*	display: none;*/
}
.wearing .helper {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}
.d3up-table td.name.wearing {
	line-height: 20px;
}
tr.compared {
	background: #111;
}
tr.compared > td {
	padding: 10px;
}
tr.compared > td:first-child {
}
.compared td.diff table {
	line-height: 15px;
	font-size: 12px;
	border: 0;
	border-spacing:1px;
  border-collapse:collapse;
	
}
.compared td.diff table th,
.compared td.diff table td {
	width: auto;
	border: 0;
	background-color: #222;
	padding: 2px 5px;
	margin: 1px;
}
.compared td.diff table th {
	border-bottom: 1px solid #000;
}
.compared td.diff {
	overflow: auto; 
}
.compared td.diff table tr th,
.compared td.diff table tr td {
	text-align: center;
	border-right: 1px solid #000;
}
.compared td.diff table tr th {
	font-size: 0.75em;
}
.compared td.diff table tr td.bg-pos {
	background-color: #166E00;
}
.compared td.diff table tr td.bg-neg {
	background-color: #6A0000;
}
.compared-against {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.compared-to {
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.ui-tabs-panel .d3up-table {
	border: 0;
}
#user-complete.d3up-table td.name {
	width: 250px;
}
.home .recent-items .d3up-table td.name {
	width: 200px;
}
.home .recent-items .d3up-table td.name .item-stats {
	text-align: left;
}
.table-filters {
	float: right;
}
.table-filters select {
	min-width: 150px;
}
.d3up-table .td-paginator {
	padding: 0;
}
.d3up-table .td-paginator div span,
.d3up-table .td-paginator div a {
	text-align: center;
	border-right: 1px solid #000;
	float: left;
	width: 36px;
	font-size: 13px;
	line-height: 28px;
}
.d3up-table .td-paginator div span:nth-child(2n),
.d3up-table .td-paginator div a:nth-child(2n) {
	background: #191919;
}
.table-header {
	margin: 0;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 0.2em;
	font-size: 20px;
	margin-left: 20px;
}
.d3up-table td.sorting {
	line-height: 1em;
}
#quick-compared-input li {
	margin: 5px
}
#quick-compared-input input {
	width: 60px;
	margin: 0 5px;
}
/*Form Styles */

.zend_form {  
	margin:5px auto;  
	padding:0;  
	overflow:auto;  
}  

.zend_form dt{  
	padding:0;  
	clear:both;  
	width:25%;  
	float:left;  
	text-align:right;  
	margin:10px 15px 5px 0;  
	line-height: 1.4em;
}  

.zend_form dd {  
	padding:0;  
	float:left;  
	width:70%;  
	margin:5px 2px 5px 0;  
	line-height: 2em;
}  

#content .zend_form dd p {
	margin: 0;
}

.zend_form fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 10px;
}

.zend_form fieldset legend {
	font-weight: bold;
	text-transform: uppercase;
}

.zend_form input, 
.zend_form textarea,
.zend_form select {  
	width: 400px;
	margin:0 0 2px 0;  
	padding:0;  
}  
.r2-Record-form .buttons,
.zend_form input[type=submit],
.zend_form .buttons {
	width: 200px;
	margin: 10px auto;
	text-align: center;
	clear: both;
}
.r2-Record-form .buttons input {
	margin-top: 50px;
	width: 350px;
}

.zend_form .required:after {
	content:' *'
}  
#content .zend_form li,
#content .zend_form ul {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 2px 5px;	
}
#content .zend_form ul.errors {
	padding: 0;
	width: 400px;
	list-style: none;
}
#content .zend_form ul.errors li {
	color: #f00;
}
.per-min {
	color: #070;
}
.per-max {
	color: #0f0;	
}
.per-90 {
	color: #0e0;	
}
.per-80 {
	color: #0d0;	
	
}
.per-70 {
	color: #0c0;	
	
}
.per-60 {
	color: #0b0;	
}
.per-50 {
	color: #0a0;	
}
.per-40 {
	color: #090;	
}
.per-30 {
	color: #080;		
}
.perfection-rating td {
	border: 1px solid #333;
	padding: 5px;
	width: 50px;
}
.ui-slider-horizontal .ui-slider-handle {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: none;
}
#simulate-stats {
	margin: 30px auto;
}
.item-preview .big-stat input {
	width: 180px;
}
.item-preview input,
#simulate-stats input {
	width: 50px;
	margin: 0 5px;
}
.item-preview select {
	max-width: 300px;
}
#simulate-stats .big-stat input {
	width: 200px;
}
.pricer-tab {
	padding: 10px 20px;
}
#tab-summary {
	padding: 10px 0;
}
#build-active-skills {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}
.skill-calc-row {
	clear: both;
	min-height: 72px;
	font-size: 14px;
	margin: 10px 0;
}
.skill-calc-row img {
	float: left;
	margin-right: 10px;
}
.skill-calc-row h3 {
	font-size: 1.3em;
	color: #70B1D5;
	margin: 0;
}
.skill-calc-row p {
	color: #888;
	margin: 0 0 0 74px;
}
.skill-calc-row p:first-child {
	margin-bottom: 10px;
}
.skill-calc-row .control {
	color: #777;
	font-weight: bold;
	float: right;
}
.skill-calc-row .details {
	list-style: none;
	padding: 0;
	color: #fff;
	margin: 0 0 5px 74px;
	font-size: 1.2em;
}
.skill-calc-row .stat-dps {
	margin: 0;
}
#button-downvote,
#button-upvote {
	border: 2px solid #75ABFF; 
	width: 36px;
	margin-top: 4px;
}
.item-preview ul.attrs .minmax {
	width: 110px;
}
.skill-label {
	text-align: right;
	margin-right: 10px;
	width: 100px;
	display: inline-block;
}
#skill-chooser button {
	margin-left: 120px;
}