/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #B3D4FC; color: #fff; text-shadow: none; }
::selection { background: #B3D4FC; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@media only screen and (min-width: 35em) {
  
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
}

.inline-flow {
  display: -moz-inline-stack;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: auto;
}

.header-logo img {
	height: 120px;
}

body {
	color: #ECECEC;
	background-color: #111;
}
a, 
a:visited, 
a:hover, 
a:active, 
a .ui-button-text, 
a:visited .ui-button-text, 
a:hover .ui-button-text, 
a:active .ui-button-text, 
a:hover .ui-button-text {
	color: #70B1D5;
	text-decoration: none;
}
#wrapper {
	background: #222;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	border: 2px solid #333;
	border-top: 0;
	border-bottom: 0;
}
#header {
}
#header-content {
	margin-top: 5px;
	text-align: center;
	width: 790px;
}
#header-content .table-header {
	font-size: 14px;
}
.select2-result {
	color: #222;
}
.ui-widget {
    font-size: 1.0em;
}
.ui-button-text-only .ui-button-text {
	padding: 0.1em 0.5em;
}
.skill-calc-row .stat-helper, 
.calc-stats .stat-helper {
	color: #B18135;
}
.create-form {
	padding: 0 20px;
}
.create-form select {
	width: 400px;
}
.create-form dt {
	margin: 10px;
}
.item-preview {
	float: right;
	display: inline-block;
}
ul.simulate-item input,
.item-preview ul.attrs input {
	margin: 2px 5px;
	width: 45px;
}
.controls {
	float: right;
}
.sub-control {
	margin-top: 5px;
}
.controls input {
	padding: 10px;
}
#skill-display {
	padding: 0px 30px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.8);
}
#skill-display h3 {
	margin: 0;
	padding: 10px 0 0 10px;
	font-weight: normal;
/*	float: left;*/
}
#ratings-display {
	float: right;
}
#ratings-display .item-stat {
	padding: 0 10px;
}
#sys-message {
	height: 90px;
	width: 728px;
	text-align: center;
	font-size: 14px;
	padding: 15px;
	margin: 2px auto;
/*	border-bottom: 1px solid #777;*/
}
#base_dps-label, #base_dps-element,
#base_damage_min-label, #base_damage_min-element,
#base_damage_max-label, #base_damage_max-element,
#base_block_chance-label, #base_block_chance-element,
#base_block_amount_min-label, #base_block_amount_min-element,
#base_block_amount_max-label, #base_block_amount_max-element,
#base_speed-label, #base_speed-element,
#base_armor-label, #base_armor-element {
	display: none;
}
.skill-highlight {
	color: #0F0;
}

#active-display,
#passive-display {
	list-style: none;
	padding: 0 5px;
	margin: 5px 0 0;
	display: inline-block;
}
#active-display > li,
#passive-display > li {
	display: inline-block;
	float: left;
	padding: 0 5px;
}
#active-display > li img,
#passive-display > li img {
	width: 32px;
}
.calc-stats .resist-specific {
}
.calc-stats .resist-specific .header {
	color: #75ABFF;
	font-size: 1.2em;
	font-weight: bold;
}
.calc-stats .resist-specific .stat-helper {
	width: 140px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.ui-buttonset a.ui-button {
	margin-right: 20px;
}
.dataTables_wrapper .ui-widget-header {
	background: #0B3E6F;
	background-image: none;
}
.chzn-results {
	z-index: 99999 !important;
	color: #000;
}
.create-form .chzn-container-single .chzn-default {
	color: #444;
}
.create-form .chzn-container .chzn-results li em {
	background: #bbb;
}
.home {
	margin: 0 2px;
	width: 645px;
}
.recent-items {
	padding: 2px;
}
.info {
	width: 300px;
	margin: 0;
}
.info .ui-widget {
	background: #171717;
	border: 2px solid #333;
	padding: 0 10px;
	margin-bottom: 10px;
}
.info .ui-widget p {
	margin: 4px 0 12px;
	font-size: 13px;
	line-height: 1.8em;
}
.info .ui-widget ul {
	padding-left: 20px;
}
.info .ui-widget a {
	color: #B18135;	
}
.info .ui-widget h3 {
	margin: 10px 0 5px;
	color: #B18135;
}
.d3up-table {
	width: 100%;
	background: #171614;
	border: 1px solid #333;
	border-collapse: separate;
}
.d3up-table tbody tr.build-row:nth-child(2n),
.d3up-table tbody tr.item-row:nth-child(2n) {
	background-color: #191919;
}
.d3up-table tbody tr th:last-child,
.d3up-table tbody tr td:last-child {
/*  border-right: 1px solid #000;*/
}
.d3up-table td {
	padding: 5px;
	border-top: 1px solid #111;
	line-height: 34px;
	overflow: hidden;
}
.d3up-table td.single-control {
	width: 150px;
}
.d3up-table td.name {
	width: 100%;
}
.d3up-table td.guide {
	
}
.d3up-table td.guide p {
	margin: 0;
	line-height: 1.4em;
	color: #888;
	margin-left: 10px;
}
.d3up-table td.guide p:first-child {
	margin: 0;
	font-weight: bold;
}
.d3up-table td.name a {
	white-space: nowrap;
	overflow: hidden;
}
.d3up-table td.stat,
.d3up-table td.data {
	text-align: center;
}
.d3up-table td.description {
	max-width: 380px;
	overflow: hidden;
}
.d3up-table td.icon {
	width: 42px;
	padding: 0;
}
.d3up-table th {
	color: #B18135;
	background: #191919;
	font-size: 0.8em;
	border-top: 1px solid #111;
	text-align: center;
}
.build-paginator, 
.more-builds {
	text-align: center;
	font-size: 1.25em;
}
div.filters {
	float: right;
	padding: 0 10px;
}
.icon-frame {
	background-color: black;
  border-color: #574320 #59411C #463419 #3A2912;
  border-left: 1px solid #3A2912;
  border-radius: 2px 2px 2px 2px;
  border-right: 1px solid #59411C;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
}
#footer {
	color: #aaa;
	margin: 50px 0 0;
	padding-bottom: 25px;
	font-size: 0.9em;
	text-align: center;
}
.breadcrumb {
	margin: 10px;
}
.faq-content h2 {
	margin: 12px 0;
	color: #B18135;
}
.d3up-post h2,
.faq-content h3 {
	color: #70B1D5;
}
.faq-content,
.d3up-post {
	font-family: 'Arial';
	letter-spacing: 0.1em;
	line-height: 1.75em;
}
.d3up-post h3 {
	margin: 15px 20px 35px;
}
.d3up-post div.meta {
	color: #aaa;
	float: right;
	margin: 12px 10px;
}
.d3up-post .post-body {
	padding: 0 20px;
}
.ui-widget-content a {
	color: #70B1D5;
}
.chzn-container-active,
.create-form input:focus {
/*	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.9);	*/
}
dd:has(:focus) .chzn-container {
/*	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.9);*/
}
#gear-change {
	display: none;
}
#pricer {
	width: 550px;
}
#compare-notes {
	list-style: none;
	padding: 15px;
	margin: 0;
	color: #F00;
}
.equipment-table {
  margin-top: 5px;
  width: 100%;
}
.equipment-table .filters th {
  font-weight: normal;
  text-align: left;
}
.equipment-table thead td,
.equipment-table thead th {
  font-size: 12px;
  line-height: 12px;
  padding: 5px 5px 0;
}
.equipment-table thead th {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}
.equipment-table > tbody > tr > td {
	padding: 10px 5px;
	vertical-align: middle;
	width: 150px;
}
.equipment-table .contributions,
.equipment-table .stats,
.equipment-table .gear-controls {
  text-align: center;
	vertical-align: middle;
	width: 85px;
	line-height: 1em;
}
#tabs-render .equipment-table .primary.gear-controls {
	width: 177px;
}
#tabs-render .equipment-table .primary .button,
#tabs-render .equipment-table .primary.gear-controls a.button {
	display: inline-block;
	width: 90px;
	margin-top: 10px;
}
#tabs-render .equipment-table .primary.gear-controls a.button:first-child {
	margin-right: 10px;
}
.equipment-table .compare-row {
  
}
.equipment-table .simulate-row th,
.equipment-table .compare-row th {
  color: #ececec;
}
.equipment-table .simulate-row h4,
.equipment-table .compare-row h4 {
  margin: 0;
}
.equipment-table .primary .button,
.equipment-table .gear-controls .button {
  padding: 2px 6px;
  font-size: 12px;
}
.equipment-table td.contributions {
	width: 50px;
  font-size: 14px;
  line-height: 1.1em;
  text-align: right;
}
.equipment-table .cell-data p {
  margin: 3px;
}
.equipment-table .stats {
  display: table-cell;
  width: 100px;
}
.equipment-table td.type {
  font-size: 10px;
  text-align: right;
}
.equipment-table td table.perfection-table {
}
.equipment-table td table.perfection-table td {
  font-size: 12px;
  line-height: 12px;
  width: auto;
  padding: 3px;
}
.equipment-table td table.perfection-table td:first-child {
  width: 75px;
}

.equipment-table td table.perfection-table td.bounds {
  text-align: right;
  color: #999;
}
/*.equipment-table th:first-child,
.equipment-table td:first-child {
  width: 50px;
  padding: 0;
}
.equipment-table td:first-child {
  font-size: 10px;
}
*/
.equipment-table td.primary {
	width: 200px;
	font-size: 14px;
	line-height: 15px;
}
.equipment-table td.primary a {
	color: #ececec;
}
.equipment-table td.primary .equipped-type {
  font-size: 10px;
}
.equipment-table tbody tr:nth-child(2n) {
  background: #000;
}
#compare-table.sticky {
	background: #111;
	border: 1px solid #333;
	position: fixed;
	top: 0;
	margin-top: 20px;
}
.calc-stats ul {
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}
.compare-diff {
	padding: 10px;
	font-size: 0.9em;
}
.compare-diff table {
	width: 99%;
	margin: 10px 0;
}
.compare-diff table th {
	font-size: 1.1em;
}
.compare-diff table tr:first-child {
	border-top: 1px solid #555;		
}
.compare-diff table tr {
	border-bottom: 1px solid #555;
}
.compare-diff table th,
.compare-diff table td {
	padding: 2px 5px;
	text-align: center;
}
.compare-diff table th:first-child,
.compare-diff table td:first-child {
	text-align: right;
}
.sold-true,
.pos {
	color: #0F0;
}
.sold-false, 
.neg {
	color: #F00;
}
.stat-ehp, 
.stat-dps {
/*  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
*/
}
.notifications,
.featured,
.build-header {
	border: 1px solid #333;
	text-shadow: 1px 2px 2px #000;
	margin-bottom: 5px;
	padding-bottom: 0;
}
.notifications {
  background-color: #111;
  text-align: center;
  color: #f50;
  padding: 10px;
}
.featured {
	font-size: 1.2em;
	margin:0;
}
.guide-pages, 
.guide-filters {
	margin: 2px 15px;
}
.guide-filters {
	text-align: right;
	float: right;
}
.guide-pages {
	font-size: 1.2em;
	font-weight: bold;
}
.guide-pages span, 
.guide-pages a {
	margin-right: 5px;
}
.build-header h2 {
	color: #7FCDFF;
	margin: 5px 15px;
}
.build-header .controls {
	float: right;
	padding: 5px;
}
.comment {
	margin: 15px 0;
}
.comment .comment-body {
	padding: 3px 15px;
	background-color: #333;
}
.comment .comment-author {
	font-size: 1.2em;
	font-weight: bold;
	color: #7FCDFF;
}
.comment.reply .comment-author {
	font-size: 1.0em;
}
.comment .comment-buttons {
	color: #ccc;
	background-color: #333;
	font-weight: bold;
	text-align: right;
}
.comment .comment-buttons a {
	cursor: pointer;
	margin: 0 5px;
}
.comment.reply {
	margin-left: 30px;
}
.comment .comment-expand {
	text-align: center;
	background-color: #333;
	font-weight: bold;
	color: #7FCDFF;
	margin-top: 5px;
}
.comment #source-label,
#replyTo-label,
#replyTo-element,
#referrer-element, 
#referrer-label {
	display: none;
}
#all-builds td.icon {
	width: 42px;
	max-width: 42px;
}
#all-builds td.meta,
#all-builds td.stat {
	text-align: center;
	overflow: hidden;
}
.d3up-table td.skills {
	width: 280px;
	min-width: 280px;
}
.d3up-table td.skills img {
	width: 25px;
}
#all-builds td.meta {
	font-size: 0.9em;
	width: 50px;
	max-width: 50px;
}
#all-builds td.name {

}
#all-builds td.description {
	width: 160px;
	max-width: 160px;
	overflow: hidden;
}
#sortAttributes {
	width: 100%;
}
.bazaar #sortAttributes {
	width: 70%;
}
.bazaar #sellMethod_chzn,
.bazaar #sellMethod, 
.bazaar #maxPrice {
	float: right;
	height: 22px;
	width: 120px;
	margin-left: 10px;
}
#recent-items td {
	width: 120px;
	max-width: 120px;
	overflow: hidden;
}
.d3up-table td.select {
	width: 30px;
	text-align: center;
}
.d3up-table thead td {
	overflow: visible !important;
}
.d3up-table thead td h5 {
  margin: 0;
  line-height: 1em;
}

#recent-items td.name {
	width: 100%;
	overflow: hidden;
}
.d3up-table td.name .item-stat,
#recent-items td.name .item-stat {
	text-align: left;
}
#tab-similar .d3up-table td.name {
	width: 150px;
	max-width: 150px;
}
#recent-items td.name span.value {
	font-size: 1.1em;
	line-height: 1.5em;
	overflow: hidden;
	height: 1.5em;
}
#recent-items td.name span.stat {
	font-size: 0.8em;
	line-height: 1.1em;
}
.item-list .filters {
	float: right;
}
#recent-items td.controls {
	width: 60px;
	float: none;
}
#recent-items td.controls,
.item-stat {
	text-align: center;
	line-height: 1.25em;
}
.item-stat .value {
	line-height: 1.5em;
	font-size: 1.2em;
	display: block;
}
.item-stat .stat {
	display: block; 
	font-size: 0.6em;
	line-height: 1.5em;
}
.d3up-table td.sorted {
/*	min-width: 5em; */
}
td.sorted .value {
/*	color: #FF0;*/
}
#my-builds {
	display: none;
}
.compareThis {
/*	display: none;*/
}
.wearing .helper {
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}
.d3up-table td.name.wearing {
	line-height: 20px;
}
tr.compared {
	background: #111;
}
tr.compared > td {
	padding: 10px;
}
tr.compared > td:first-child {
}
.compared td.diff table {
	line-height: 15px;
	font-size: 12px;
	border: 0;
	border-spacing:1px;
  border-collapse:collapse;
	
}
.compared td.diff table th,
.compared td.diff table td {
	width: auto;
	border: 0;
	background-color: #222;
	padding: 2px 5px;
	margin: 1px;
}
.compared td.diff table th {
	border-bottom: 1px solid #000;
}
.compared td.diff {
	overflow: auto; 
}
.compared td.diff table tr th,
.compared td.diff table tr td {
	text-align: center;
	border-right: 1px solid #000;
}
.compared td.diff table tr th {
	font-size: 0.75em;
}
.compared td.diff table tr td.bg-pos {
	background-color: #166E00;
}
.compared td.diff table tr td.bg-neg {
	background-color: #6A0000;
}
.compared-against {
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.compared-to {
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.ui-tabs-panel .d3up-table {
	border: 0;
}
#user-complete.d3up-table td.name {
	width: 250px;
}
#recent-builds .name {
	width: 200px;
}
#recent-builds .name a {
	overflow: hidden;
	display: block;
	height: 36px;
	max-width: 135px;
}
#recent-builds .votes,
#recent-builds .views {
	display: none;
}
.home .recent-items .d3up-table td.name {
	width: 200px;
}
.home .recent-items .d3up-table td.name .item-stats {
	text-align: left;
}
.table-filters {
	float: right;
}
.table-filters select {
	min-width: 150px;
}
.paginator {
	padding: 0;
}
.d3up-table .paginator span,
.d3up-table .paginator a {
	text-align: center;
	border-right: 1px solid #000;
	float: left;
	width: 36px;
	font-size: 13px;
	line-height: 28px;
}
.d3up-table .paginator span:nth-child(2n),
.d3up-table .paginator a:nth-child(2n) {
	background: #191919;
}
.table-header {
	margin: 0;
	text-transform: uppercase;
	color: #757575;
	letter-spacing: 0.2em;
	font-size: 20px;
	margin-left: 20px;
}
.table-sub-header {
	margin: 0;
	letter-spacing: 0.1em;
	font-size: 14px;
	color: #565656;
	margin-left: 20px;
}
.d3up-table td.sorting {
	line-height: 1em;
}
#quick-compared-input li {
	margin: 5px
}
#quick-compared-input input {
	width: 60px;
	margin: 0 5px;
}
/*Form Styles */

.zend_form {  
	margin:5px auto;  
	padding:0;  
	overflow:auto;  
}  

.zend_form dt{  
	padding:0;  
	clear:both;  
	width:25%;  
	float:left;  
	text-align:right;  
	margin:10px 15px 5px 0;  
	line-height: 1.4em;
}  

.zend_form dd {  
	padding:0;  
	float:left;  
	width:70%;  
	margin:5px 2px 5px 0;  
	line-height: 2em;
}  

#content .zend_form dd p {
	margin: 0;
}

.zend_form fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 20px 10px;
}

.zend_form fieldset legend {
	font-weight: bold;
	text-transform: uppercase;
}

.zend_form input, 
.zend_form textarea,
.zend_form select {  
	width: 400px;
	margin:0 0 2px 0;  
	padding:0;  
}  
.r2-Record-form .buttons,
.zend_form input[type=submit],
.zend_form .buttons {
	width: 200px;
	margin: 10px auto;
	text-align: center;
	clear: both;
}
.r2-Record-form .buttons input {
	margin-top: 50px;
	width: auto;
}

.zend_form .required:after {
	content:' *'
}  
#content .zend_form li,
#content .zend_form ul {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 2px 5px;	
}
#content .zend_form ul.errors {
	padding: 0;
	width: 400px;
	list-style: none;
}
#content .zend_form ul.errors li {
	color: #f50;
}
.per-min {
	color: #070;
}
.per-max {
	color: #0f0;	
}
.per-90 {
	color: #0e0;	
}
.per-80 {
	color: #0d0;	
	
}
.per-70 {
	color: #0c0;	
	
}
.per-60 {
	color: #0b0;	
}
.per-50 {
	color: #0a0;	
}
.per-40 {
	color: #090;	
}
.per-30 {
	color: #080;		
}
.perfection-rating td {
	border: 1px solid #333;
	padding: 5px;
	width: 50px;
}
.ui-slider-horizontal .ui-slider-handle {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	border: none;
}
.simulate-row .chzn-container, 
.simulate-row select{
	width: 450px;
	margin: 5px auto;
}
.simulate-item {
	margin: 10px auto;
}
.item-preview .big-stat input {
	width: 180px;
}
.simulate-item.d3-item .item ul.sockets > li select {
	max-width: 300px;
}
.simulate-item.d3-item .item ul.attrs li {
	line-height: 28px;
}
.item-preview input,
.simulate-item input {
	width: 50px;
	display: inline;
	margin: 0 5px;
}
.item-preview select {
	max-width: 300px;
}
.simulate-item .big-stat input {
	width: 200px;
}
.pricer-tab {
	padding: 10px 20px;
}
#tab-summary {
	padding: 10px 0;
}
#companion-buffs,
#build-passive-skills,
#build-active-skills {
	margin: 0;
	padding: 1px;
	width: 100%;
	border-collapse: separate;
  border-spacing: 2px;
}
.skill-calc-row {
/*  border: 1px solid #222;*/
	background: #171717;
	font-size: 14px;
}
.skill-calc-row h3 img {
  height: 30px;
  line-height: 30px;
	margin-right: 10px;
}
.skill-calc-row h3 {
  border: 1px solid #171717;
	font-size: 1.2em;
	color: #70B1D5;
	margin: 0;
	display: inline;
}
tr.skill-calc-row > td {
  padding: 5px;
  border: 1px solid #222;
}
.skill-calc-row p {
	color: #888;
	margin: 0;
}
.skill-calc-row p:first-child {
	margin-bottom: 10px;
}
.skill-icon {
  border: 1px solid #222;
}
.skill-icon.skill-activated,
.skill-calc-row.skill-activated > td {
	border: 1px solid #70B1D5;
}
.skill-calc-row .control {
	margin: 5px;
	color: #777;
	font-weight: bold;
	float: right;
	text-align: center;
}
.skill-calc-row .control select {
  margin-left: 5px;
}
.skill-calc-row .effects:first-child {
	margin-top: 5px;
	font-weight: bold;
}
.skill-calc-row .effects h4 {
	color: #777;
	margin: 5px 0 0;
	border-bottom: 1px solid #777;
}
.skill-calc-row .effects,
.skill-calc-row .details {
  width: 100%;
	padding: 0;
	color: #fff;
	font-size: 1.1em;
	padding: 5px 10px;
	margin: 5px 0;
	border: 1px solid #333;
}
.skill-calc-row .details {
  display: none;
}
.skill-calc-row .details th {
  background: #000;
  border: 1px solid #333;
  padding: 5px;
  text-align: left;
  color: #ececec;
  text-decoration: underline;
  font-weight: normal;
}
.skill-calc-row .details td {
  text-align: right;
  padding: 0 5px;
}
.skill-calc-row .details td.range {
  width: 1%;
}
.skill-calc-row .details td.range-div {
  width: 10px;
}
.skill-calc-row .details td.skill-control {
  width: auto;
}
.skill-calc-row .details tr:nth-child(2n) {
  background-color: #000;
}
.skill-calc-row .details td:first-child {
  color: #B18135;
  text-align: left;
  width: 175px;
}
.skill-calc-row .effects {
	margin: 0 0 5px 94px;	
}
.skill-calc-row .stat-dps {
	margin: 0;
}
#button-downvote,
#button-upvote {
	border: 2px solid #75ABFF; 
	width: 36px;
	margin-top: 4px;
}
.item-preview ul.attrs .minmax {
	width: 110px;
}
.skill-label {
	text-align: right;
	margin-right: 10px;
	width: 90px;
	display: inline-block;
}
#skill-chooser button {
	margin-left: 120px;
}
#warning-browser {
	text-align: center;
	background-color: #F00;
	color: #FFF;
	font-size: 1.1em;
	padding: 5px;
}
#warning-browser a {
	color: #FFF;
	text-decoration: underline;
}
.homepage-widget {
	margin-bottom: 15px;
}
.homepage-widget.ui-tabs .ui-tabs-nav li {
	float: right;
	text-shadow: 2px 2px #000;
}
.homepage-widget.ui-tabs .ui-tabs-nav li:first-child {
	float: left;
}
.ui-table-header {
	margin: 0;
	margin-left: 10px;
/*	text-shadow: 2px 2px #000;*/
	font-size: 22px;
	line-height: 32px;
}
.controls.chosen {
	padding: 4px 5px;
}
.controls.chosen select {
	text-align: left;
	width: 150px;
}
.homepage-widget.ui-tabs .ui-tabs-panel {
	padding: 15px 0;
}
.homepage-widget > h4 {
	text-align: center;
	margin: 0;
}
div.title-block {
	position: relative;
	background-image: url('/images/bgs/default.jpeg');
	background-position: top;
}
.title-block[data-class=barbarian],
#guide[data-class=barbarian] div.title-block {
	background-image: url('/images/bgs/barbarian.jpeg');
}
.title-block[data-class=demon-hunter],
#guide[data-class=demon-hunter] div.title-block {
	background-image: url('/images/bgs/demon-hunter.jpeg');
}
.title-block[data-class=witch-doctor],
#guide[data-class=witch-doctor] div.title-block {
	background-image: url('/images/bgs/witch-doctor.jpeg');
}
.title-block[data-class=monk],
#guide[data-class=monk] div.title-block {
	background-image: url('/images/bgs/monk.jpeg');
}
.title-block[data-class=wizard],
#guide[data-class=wizard] div.title-block {
	background-image: url('/images/bgs/wizard.jpeg');
}
#build div.title-block,
#guide div.title-block {
	border: 1px solid #333;
	text-shadow: 1px 2px 2px #000;
}

div.title-block > h3,
div.title-block h1,
div.title-block h2,
div.title-block h5 {
	margin: 0;
	padding: 20px 20px 0;
	background: rgba(0, 0, 0, 0.5); 
}
.home div.title-block > h3,
.home div.title-block h1,
.home div.title-block h2,
.home div.title-block h5 {
	background: rgba(0, 0, 0, 0.8); 
}

.featured.title-block > h3 {
	padding: 20px;
}
.home .featured.title-block > h3 {
  padding: 5px 20px 10px;
  font-size: 0.8em;
  font-weight: normal;
}
#build div.title-block h3 {
	padding: 0 20px 0;	
}
div.title-block h5,
div.title-block h2,
div.title-block h5,
div.title-block h2 {
	padding-top: 10px;
}
.home div.title-block h2 {
  padding-top: 0;
  font-size: 1em;
}
#build div.title-block h5 {
	padding-top: 0;
	padding-bottom: 20px;
}
#build div.title-block h2
#guide div.title-block h2 {
	color: #ececec;
	font-size: 1.2em;
}
#guide div.title-block h5 {
	font-size: 1.1em;
	color: #999;
	font-weight: normal;
	padding-bottom: 20px;
}
#build #skill-display h3 {
	margin: 0;
	padding: 10px 5px 0;
}
#toolbar {
	border: 1px solid #333;
	background: #111;
	text-align: center;
	width: 960px;
	padding-bottom: 5px;
}
#toolbar .ui-button {
	color: #fff;
	padding: 2px 5px;
	border: 1px solid #333;
}
#toolbar h2 {
	margin: 0;
}
#toolbar.sticky {
	text-align: center;
	position: fixed;
	top: 0;		
	z-index: 9999;
}
#save-status,
#publish-status {
	font-weight: bold;
	color: #0f0;
}
#publish-status.false,
#save-status.unsaved {
	color: #f50;
}
.ui-button {
	border: 1px solid #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#guides,
#guide {
	border: 2px solid #000;
	font: 14px Arial;
	line-height: 1.5em;
}
#guides,
.section {
	background-color: #171614;
	border: 1px solid #333;
	margin: 5px 2px;
}
.content-page,
#build-create,
#guides {
	border: 1px solid #111;
	padding: 2px;
	background-color: #222;
} 
.content-page.with-sidebar {
	width: 600px;
}
.content-sidebar {
	float: right;
	width: 350px;
}
.section .section-content  {
	padding: 25px;
}
.section .youtube-video {
	padding: 23px;
}
.content > .section:first-child {
	border-top: 0;
}
.section > h3 {
	cursor: move;
	font-size: 1.5em;
	margin: 0;
	padding: 15px 15px;
	color: #B18135;
	background-color:rgba(0,0,0,0.2);
	border-bottom: 1px solid #333;
}
.section .editing textarea {
	margin: 0px
}
.skill-control,
.section-control {
	margin: 5px;
	float: right;
}
.section-control label {
	vertical-align: middle;
	margin-right: 5px;	
}
.section-control input {
	vertical-align: middle;
	margin: 2px 10px 0 0;
}
.section-control .button {
	margin: 5px;
}
#guide div.title-block h5 .author,
#guide div.title-block h5 .date {
	color: #A8DAFF;
}
#guide div.toc.section {
}
div.toc.section {
	position: relative;
	background-image: url('/images/bgs/toc-default.jpeg');
	background-repeat: no-repeat;
}
#guide[data-class=barbarian] div.toc.section {
	background-image: url('/images/bgs/toc-barbarian.jpeg');
	background-repeat: no-repeat;
}
#guide[data-class=demon-hunter] div.toc.section {
	background-image: url('/images/bgs/toc-demon-hunter.jpeg');
	background-repeat: no-repeat;
}
#guide[data-class=witch-doctor] div.toc.section {
	background-image: url('/images/bgs/toc-witch-doctor.jpeg');
	background-repeat: no-repeat;
}
#guide[data-class=monk] div.toc.section {
	background-image: url('/images/bgs/toc-monk.jpeg');
	background-repeat: no-repeat;
}
#guide[data-class=wizard] div.toc.section {
	background-image: url('/images/bgs/toc-wizard.jpeg');
	background-repeat: no-repeat;
}
#guide div.toc.section h3 {
	margin: 0;
	padding: 10px;
}
#guide div.toc.section ul#toc {
	font-size: 1.1em;
	margin: 0px;
	padding: 25px 50px;
	list-style: none;
	font-size: 1.25em;
	line-height: 1.8em;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
}

#guide div.toc.section ul#toc li:before {
	content: "\00BB \0020";
}
#guide div.toc.section ul#toc li {

}	
#guide div.toc.section ul#toc li a {
	margin-left: 5px;
	color: #ececec;
}
#guide div.section ul.skill-data {
	margin: 0;
	padding: 0;
	list-style: none;
}
#guide div.passives.section ul.selectedPassives li,
#guide div.skills.section ul.selectedSkills li {
	margin: 0;
	border-top: 1px solid #333;
}
#guide div.passives.section ul.selectedPassives li h3,
#guide div.skills.section ul.selectedSkills li h3 {
	border: 0;
	line-height: 10px;
	cursor: text;
}
#guide #ratings-display {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #000;
	background: rgba(0,0,0,0.7);
	padding: 5px 5px 5px 10px;
	border-radius: 5px;
	font-size: 16px;
}
#guide .skill-content {
	margin: 5px 30px 10px;
	padding: 10px 15px;
	border-radius: 10px;
	background: #000;
	border: 3px solid #333;
}
#guide .admin-ui {
	margin: 20px 30px;
	border: 2px solid #333;
}
#guide .admin-ui h3,
#guide .admin-ui p,
#guide .admin-ui > div {
	margin: 0;
	padding: 10px;
	background: #111;	
}
#guide .admin-ui input {
	width: 600px;
}
#guide .skill-picker p {
	border-bottom: 1px solid #333;
}
#guide .skill-picker .skill-block {
	margin: 0;
	padding: 10px;
	background: rgba(0,0,0,0.8);
}
#guide .skill-picker select {
	margin-left: 10px;
}
#guide .skill-block img {
	margin: 0 20px 0;
	height: 32px;
}
#guide .skill-block h3 {
	margin: 10px 0;
	color: #ececec;
	font-size: 1.4em;
	vertical-align: middle;
}
.section img {
	max-width: 890px;
	border: 1px solid #333;
	margin: 5px 5px 20px;
}
.wrap-button {
	float: left;
	display: block;
	margin: 14px 10px;
	padding: 2px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.section-preview {
	background: #000;
	background: rgba(0,0,0,0.7);
	padding: 10px 20px;
}
.home .section-preview {
  display: none;
}
.no-guides {
	border: 1px solid #333;
	background: #000;
	background: rgba(0,0,0,0.7);
	padding: 50px;
}
.content-page .page,
.content-page .form,
.content-page .warning {
	margin: 2px 0;
	background: #111;
	padding: 5px 15px;
	border: 1px solid #333;
}
.content-page .form .notice {
  text-align: center;
  padding: 20px;
  background: #333;
  border: 1px solid #555;
  font-size: 1.2em;
}
.content-page .import {
	float: right;
	width: 400px;
}
.content-page .import h4 {
	color: #B18135;
	font-size: 1.2em;
	margin: 0;
	text-align: center;
}
.content-page .import .ui-button {
}
.content-page .warning {
	color: #FA4545;
}
#tabs-render .form,
.content-page .form {
	padding: 20px 50px;
}
#tabs-render dt,
.content-page .form dt {
	width: 300px;
	font-size: 15px;
}
.content-page .form dd #attributes {
	width: 400px;
}
.content-page .form dd {
	max-width: 400px;
}

#tabs-render .form dd,
.content-page .form dd {
	margin: 10px;
	border: 0;
}
#tabs-render .form dd input,
.content-page .form dd input {
	width: 300px;
}
.footer-content,
.content-page .social,
#tabs-render .form-buttons,
.content-page .form-buttons {
	clear: both;
	background: #111;
	border: 1px solid #333;
	padding: 15px 30px;
	text-align: center;
}
.content-page .social {
	padding: 5px;
	line-height: 0.9em;
}
#social-share {
	position: absolute;
	top: 5px;
	right: 5px;
}
/* Dark Button CSS */
#megamenu li form input[type=submit],
.button {
	cursor: pointer;
	font-size: 14px;
	outline: 0;
	padding: 5px 12px;
	display: block;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px #1f272b;
	border: 1px solid #1c252b;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #232B30; /* old browsers */
	background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
	text-shadow: 1px 1px #111;
	font-weight: normal;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}
.button:hover {
	color: #fff;
	background: #4C5A64; /* old browsers */
	background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.button-bar .button {
	display: inline-block;
	line-height: 1em;
}
#tabs-render > div > div .button {
  margin: 5px;
}
.button.current,
.button:active {
	background-position: 0 top;
	position: relative;
	top: 1px;
	margin-bottom: 3px;
	color: #fff;
	padding: 6px 12px 4px;
	background: #20282D; /* old browsers */
	background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
	-moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
	-webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}
.filter-table {
	width: 100%;
}
.filter-table td:first-child {
	text-align: right;
	width: 180px;
	padding-right: 10px;
}
.filter-table td select {
	width: 99%;
}
.statistics-table {
  width: 304px;
  margin: 2px;
}
.statistics-table thead th:active,
.statistics-table thead th {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	display: table-cell;
	text-align: left;
	padding: 0;
}
.statistics-table thead .ui-icon {
	top: 2px;
	position: relative;
	margin: 0 5px;
	display: inline-block;
}
.statistics-table.collapsed tbody {
	display: none;
}
.statistics-table td {
  width: 40%;
  padding: 2px 5px;
  font-size: 14px;
}
.statistics-table > thead > tr > td:first-child, 
.statistics-table > tbody > tr > td:first-child {
  width: 60%;
  color: #B18135;
  text-align: right;
  font-size: 12px;
}
#compare-table {
  display: none;
}
.compare-overview {
  background: #111;
  color: #ececec;
  text-align: center;
}
#compare-table .compare-overview {
  border-top: 1px solid #333;
}
#compare-table tbody {
  border-top: 1px solid #333;
}
#compare-table .diff {
	border-right: 1px solid #333;
	border-left: 1px solid #333;
}
#compare-table tr,
#compare-table td {
	width: auto;
	text-align: right;
}
#compare-table tbody tr {
  font-size: 10px;
}
#compare-table thead tr td {
  font-size: 11px;
}
#compare-table tbody tr td {
  font-size: 12px;
}
#my-items .item-row .gear-controls {
	width: 100px;
}
#my-items .item-row .gear-controls .button {
	line-height: 1em;
  display: none;
}
#my-items .item-row:hover .gear-controls .button {
  display: block;
}
.user-bar {
	float: right;
	margin-right: 10px;
}
.menu-bar {
	border: 1px solid #111;
	background: #222;		
	padding: 2px;
	margin: 0 0 5px; 
}
.menu-wrap {
	border: 1px solid #333;
	background: #111;
}

#megamenu * {
	-webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

#megamenu > li a,
#megamenu > li span {
	cursor: pointer;
}

#megamenu li h5 a.drop {
	padding-right:21px;
	background:url("/images/down-arrow.png") no-repeat center right;
}

#megamenu li.social {
  float: right;
  padding: 9px 10px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:5px auto;
	float:left;
	position:absolute;
	left:-999em;
	text-align:left;
	padding:15px;
	border:1px solid #333;
	border-top: 0;
	background:#111;
  -webkit-box-shadow: 5px 5px 20px 0px #111;
          box-shadow: 5px 5px 20px 0px #111;
}

.dropdown_1column {width: 160px;}
.dropdown_2columns {width: 320px;}
.dropdown_3columns {width: 480px;}
.dropdown_4columns {width: 640px;}
.dropdown_5columns {width: 800px;}

#megamenu li:hover .dropdown_1column, 
#megamenu li:hover .dropdown_2columns, 
#megamenu li:hover .dropdown_3columns,
#megamenu li:hover .dropdown_4columns,
#megamenu li:hover .dropdown_5columns {
	left:-2px;
	top:auto;
	z-index: 9999;
	background: rgb(17,17,17); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(17,17,17,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,17,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(17,17,17,1) 0%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(17,17,17,1) 0%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:150px;}
.col_2 {width:310px;}
.col_3 {width:470px;}
.col_4 {width:630px;}
.col_5 {width:790px;}

#megamenu .menu_right {
	float:right;
	margin-right:0px;
}

#megamenu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#megamenu p, #megamenu h2, #megamenu h3, #megamenu ul li {
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #000;
}
#megamenu h2 {
  color: #B18135;
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#megamenu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#megamenu p {
	line-height:18px;
	margin:0 0 10px 0;
}

.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}
#megamenu li ul {
	list-style:none;
	padding:0; 
	margin:0 0 12px 0;		
}
#megamenu li ul li {
	position:relative;
	text-shadow: 1px 1px 1px #000;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
}
#megamenu {
	margin: 1px;
	padding: 0;
	list-style: none;
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(17,17,17,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 ); /* IE6-9 *//*		border: 1px solid #f00;*/
}
#megamenu li {
	display: block;
	float: left;
	text-align: center;
	position: relative;
	padding: 5px 0 5px 37px;
}
#megamenu li:first-child {
/*	padding: 5px 25px 5px 50px;*/
}
#megamenu li > h5 {
	font-size: 22px;
	line-height: 22px;
	margin: 5px 0 0;
}
#megamenu li > h5 a {
	color: #fff;
	font-weight: normal;
}
#megamenu li > span {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	color: #70B1D5;
}
#megamenu li ul li a {
	display: block;
}
#megamenu li ul.dropdown_links li {
	border-top: 1px solid #000;
	background: #222;
	font-size: 12px;
	text-align: left;
	height: 42px;
	line-height: 42px;
	padding: 0 15px;
	background-repeat: no-repeat; 
	background-position: middle left;	
	cursor: pointer;		
	overflow: hidden;
}
#megamenu li ul.dropdown_links li.build a {
  line-height: 21px;
}
#megamenu li ul.dropdown_links .paragon {
 color: #A791C2;
}
#megamenu li ul.dropdown_links li:hover {
	background-color: #333;
}
#megamenu li ul.dropdown_links li a {
	height: 42px;
	overflow: hidden;
	color: #ececec;
}
#megamenu li p.notice {
	background: #111;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
}
#megamenu li form {
	border: 1px solid #1C252B;
	background: #232B30;
	margin-bottom: 8px;
}
#megamenu li form dd {
	width: 150px;
}
#megamenu li form dt {
	width: 80px;
	font-size: 10px;
}
#megamenu li form input[type=submit] {
	color: #ececec;
	margin: 5px auto;
}
#megamenu li ul li:first-child {
	border-top: 0px;
}
#megamenu li ul li.barbarian {
	padding-left: 48px;
	background-image: url('/images/barbarian.png');
}
#megamenu li ul li.wizard {
	padding-left: 48px;
	background-image: url('/images/wizard.png');
}
#megamenu li ul li.demon-hunter {
	padding-left: 48px;
	background-image: url('/images/demon-hunter.png');
}
#megamenu li ul li.monk {
	padding-left: 48px;
	background-image: url('/images/monk.png');
}
#megamenu li ul li.witch-doctor {
	padding-left: 48px;
	background-image: url('/images/witch-doctor.png');
}
#megamenu li:hover .align_right {
	left: auto;
	right: -1px;
	top: auto;
}
.d3bit-scanned p {
	font-size: 0.9em; 
	line-height: 1.2em	
}
.d3up-table.d3bit-scanned td.name {
	width: auto;
}
.d3bit-scanned .item-stat .value {
	font-size: 1em;
}